
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>oops~~~</title>
  <link rel="shortcut icon" href="/favicon.ico"/>
  <link rel="bookmark" href="/favicon.ico"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <style type="text/css">
    .content{
      width: 300px;
      margin: 0px auto;
      font-size: 14px;
      font-family: "MicroSoft YaHei","SimHei";
      text-align: center;
    }
  </style>
</head>
<body>
  <div class="content" id="content">
    有兴趣一起来做这个公众账号?<br />
    e-mail: trbbadboy@qq.com<br />
    QQ: 472497084
  </div>
</html>